@font-face {
   font-family: JapanGo;
   src: url(/fonts/go3v2.ttf);
}


body {
    display: flex;
    flex-direction: column;
    font-family: JapanGo;
    /* justify-content: center; */
    align-items: center;

}


/*------------- CSS DESKTOP -------------*/


.cards {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 90%;
    height: 310px;
    /* background-color: aqua; */
}

.card-perfil {
    width: 30%;
    height: 300px;
    flex: auto;
    flex-direction: row;
/*     border: 1px solid #000;
 */    justify-content: center;
    align-items: center;
}

.logo-perfil {
    display: flex;
    margin: 15px auto;
    justify-content: center;
    width: 120px;
    height: 150px;
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgb(253, 2, 2), rgb(0, 0, 0)) border-box;
    border-radius: 15px;
    border: 5px solid transparent;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40px;
    margin: 0 auto;

}

.name-perfil {
    font-size: 2em;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50px;
/*     background-color: blueviolet;
 */    margin: 0 auto;
}

.logo-git {
    width: 30px;
    height: 30px;
}

.container-font h1 {
    margin-top: 0;
    margin-bottom: 0;
/*     background-color: aqua;
 */    font-size: 70pt;
    color: line;

}

.timeDes {
    display: flex;
    justify-content: center;
}

.gradient {
  /* Primeiro passo: definir um degradê como fundo */
  background-image: linear-gradient(to right, rgb(255, 2, 2), rgb(138, 91, 91), rgb(2, 2, 2));
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
  
}

.container-link {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 150px;
    background-color: aqua;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, rgb(252, 23, 7), rgb(0, 0, 0)) border-box;
    border-radius: 3em;
    border: 5px solid transparent;
}

.font-link {
    font-size: 1.4em;
}



/*----------- CSS MOBILE------------------- */
@media(max-width: 700px) {
    .cards {
        display: block;
        flex-direction: column;
        width: 90%;
        height: auto;
/*         background-color: aqua;
 */    }
    
    .card-perfil {
        width: 90%;
        height: 250px;
        flex-direction: row;
        border-bottom: 2px solid #000;
        justify-content: center;
        align-items: center;
        margin: 5px auto;
    }
    
    .logo-perfil {
        display: flex;
        margin: 15px auto;
        justify-content: center;
        width: 120px;
        height: 150px;
        /* border-radius: 50%; */
        background: linear-gradient(white, white) padding-box,
                  linear-gradient(to right, rgb(253, 2, 2), rgb(0, 0, 0)) border-box;
        border-radius: 15px;
        border: 5px solid transparent;
    }
    
    .card-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 30px;
        margin: 0 auto;
    
    }
    
    .name-perfil {
        font-size: 2em;
    }

    .icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 50px;
/*         background-color: blueviolet;
 */        margin: 0 auto;
    }
    
    .logo-git {
        width: 30px;
        height: 30px;
    }
}